@use 'variables' as *;

@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}
@mixin divider($color: $accent1) {
  border-top: 1px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}
@mixin border($color: $accent1){
  border-left: 5px solid $color;
  border-bottom: 5px solid $color;
  border-radius: 5px;
}

h2,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}
h1 {
  // @include border();
  @include set-font(2.5em);
  color: $text-dark;
  display: inline-block;
  font-family: $fonts-headline1;
  font-weight: normal;
  // margin-bottom: 1em;
  padding: 0;
  margin: 0;
}
h2 {
  color: $accent1;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1em;
  padding: 0;
}
h3 {
  font-size: 2em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 2% 0;
  color: $accent1;
}
h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
}

p {
  @include set-font(1em, 1.5em);
  /* padding: 0.5em; */
  /* margin: 1em; */
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: $accent1;
}
