@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-dark);
  }
}



/************** HEADER **************/

header {
  padding: 5%;
  background-color: $accent2;
}


/************* SUMMARY *************/

.summary {
  /* @include atoms.uppercase($text-dark);*/
  padding: 1.5% 5%;
  color: $text-light;
  font-weight: 500;
  background: $text-dark;
  p:last-child {
  /*   @include atoms.divider; */
  }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}


/******** PREAMBLE ************/

.preamble {
  padding: 1.5% 5%;
  background: $grey;
  color: $text-dark;
}

/************** MAIN ***************/

/*************** EXPLANATION ************/
.explanation {
  padding: 1.5% 5%;
  background: $grey;
}
/************* PARTICIPATION ************/
.participation {
  padding: 1.5% 5%;
}


/************ BENEFITS ****************/
.benefits {
  padding: 1.5% 5%;
}

/*********** REQUIREMENTS ***********/
.requirements {
  padding: 1.5% 5%;
  background: $grey;
}

/*********** SIDE BAR ***************/
.sidebar {
  padding: 1.5% 5%;
  background-color: $accent2;
}


/*********** FOOTER **************/
footer {
  padding: 1.5% 5%;
  background: $text-dark;
  color: $text-light;
}

footer a {
  color: $text-light;
}