@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Slackey&display=swap');
$fonts-headline1: "Slackey", arial, sans-serif;
$fonts-headline: "Jost", arial, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color:   white; /* #f0d58c; /* #6D8EA0; #A2ABB5; */
$primary: rgb(247,194,98); /* #F7C262 */
$accent1: #e16340;
$accent2: #f0d58c;
$accent3: #1D1E18;
$grey: #E5EBEA;
$grey-sidebar: rgb(54,56,58); /* #36383A */
$text-dark: #333;
$text-light: #fff;
$breakpoint-phone: 600px;
