@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Slackey&display=swap');
$fonts-headline1: "Slackey", arial, sans-serif;
$fonts-headline: "Jost", arial, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$font-lrg: 16px;
$font-sm: 13px;
$background-color:   white; /* #f0d58c; /* #6D8EA0; #A2ABB5; */
$primary: rgb(247,194,98); /* #F7C262 */
$accent1: #e16340;
$accent2: #f0d58c;
$accent3: #1D1E18;
$accent4: #0E1131; /* Radio deep purple */
$acc5: #783A3A; /* Radio brown */
$acc6: #F6C162;  /* Radio dark yellow */
$acc7: #F9DCA8;  /* Radio lt yellow  */
$grey: #E5EBEA;  /* Radio creamy yellow */
$grey-sidebar: rgb(54,56,58); /* #36383A */
$text-dark: #0E1131; /* old color #333; */
$text-light: #fff;
$breakpoint-phone: 600px;
$font-margin: 25px;
$font-padding: 20px;
$t-margin1: 10px;
$t-margin2: 25px;
$boombox-original: .35;
$boombox-increase: .40;
