@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Slackey&display=swap");
/* #f0d58c; /* #6D8EA0; #A2ABB5; */
/* #F7C262 */
/* Radio deep purple */
/* Radio brown */
/* Radio dark yellow */
/* Radio lt yellow  */
/* Radio creamy yellow */
/* #36383A */
/* old color #333; */
h2,
h3,
h4 {
  font-family: "Jost", arial, sans-serif;
  margin: 0;
}

h1 {
  font-family: verdana, arial, sans-serif;
  font-size: 2.5em;
  line-height: normal;
  color: #0E1131;
  display: inline-block;
  font-family: "Slackey", arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  color: #e16340;
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1em;
  padding: 0;
}

h3 {
  font-size: 2em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 2% 0;
  color: #e16340;
}

h4 {
  font-size: 1.5em;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0;
}

p {
  font-family: verdana, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  /* padding: 0.5em; */
  /* margin: 1em; */
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #0E1131;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #e16340;
}

[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0E1131;
}

/************** HEADER **************/
header {
  padding: 5%;
  background-color: #f0d58c;
}

/************* SUMMARY *************/
.summary {
  /* @include atoms.uppercase($text-dark);*/
  padding: 1.5% 5%;
  color: #fff;
  font-weight: 500;
  background: #0E1131;
}
.summary p:last-child {
  /*   @include atoms.divider; */
}
.summary a {
  color: #fff;
}

/******** PREAMBLE ************/
.preamble {
  padding: 1.5% 5%;
  background: #E5EBEA;
  color: #0E1131;
}

/************** MAIN ***************/
/*************** EXPLANATION ************/
.explanation {
  padding: 1.5% 5%;
  background: #E5EBEA;
}

/************* PARTICIPATION ************/
.participation {
  padding: 1.5% 5%;
}

/************ BENEFITS ****************/
.benefits {
  padding: 1.5% 5%;
}

/*********** REQUIREMENTS ***********/
.requirements {
  padding: 1.5% 5%;
  background: #E5EBEA;
}

/*********** SIDE BAR ***************/
.sidebar {
  padding: 1.5% 5%;
  background-color: #f0d58c;
}

/*********** FOOTER **************/
footer {
  padding: 1.5% 5%;
  background: #0E1131;
  color: #fff;
}

footer a {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #e16340;
  /* padding: 5%; */
}

body {
  font-family: verdana, arial, sans-serif;
  font-size: 13px;
  color: #0E1131;
  margin: 0;
}

header {
  padding-bottom: 100px;
}

/**********************************/
/****** INSERT IMAGES *************/
h2::after {
  content: url(images/Boombox-137.png);
  position: absolute;
  top: -150px;
  left: 850px;
  transform: scale(0.65);
}

.explanation::after {
  content: url(images/stickers-187.png); /* subwoofer */
  transform: scale(0.5);
}

.participation::before {
  content: url(images/stickers-186.png); /* speaker light */
}

.benefits::after {
  content: url(images/Boombox-138.png); /* speaker dark */
}

.sidebar::before {
  content: url(images/stickers-185.png); /* speaker dark */
  grid-column: 1/span 6;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  .page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  /******  Header & Intro ******/
  .intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: #f0d58c;
  }
  header {
    grid-column: 1/span 9;
    font-size: 25px;
  }
  .summary {
    grid-column: 1/-1;
  }
  .preamble {
    background-color: #E5EBEA;
    grid-column: 1/-1;
  }
  /*  Organize paragraphs in 2 columns by using nth child
      to place into grid columns???? */
  /****** MAIN *******/
  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: white;
  }
  .explanation {
    grid-column: 1/span 6;
    grid-row: 1;
    background-color: white;
    margin: 10px 25px;
  }
  .participation {
    grid-column: 7/span 6;
    grid-row: 1;
    background-color: white;
    margin: 10px 25px;
  }
  .benefits {
    grid-column: 1/span 6;
    grid-row: 3;
    background-color: white;
    margin: 10px 25px;
  }
  .requirements {
    grid-column: 1/span 12;
    /* arrange in 2 columns by <p> nth child */
  }
  footer {
    grid-column: 1/span 12;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: #f0d58c;
  }
  .design-selection {
    grid-column: 8/-1;
    grid-row: 1;
  }
  .design-archives {
    grid-column: 8/-1;
    grid-row: 2;
  }
  .zen-resources {
    grid-column: 8/-1;
    grid-row: 3;
  }
}

/*# sourceMappingURL=style.css.map */
