@use "variables" as *; //this puts all the variables in the global namespace.
@use "atoms";
@use "molecules";
@use "organisms" as o;

* {
  box-sizing: border-box;
}

body {
  font-family: $fonts-body;
  font-size: $font-sm;
  color: $text-dark;
  margin: 0;
}

header {
  // padding-bottom: 100px;
  position: relative;
}

h1 {
  margin-top: 0;
}

/**********************/
/******* ANIMATIONS ************/

@keyframes boombox {
  0% {
    transform: scale($boombox-original);
    rotate: -15deg;
  }
  10% {
    transform: scale($boombox-increase);
  }
  15% {
    transform: scale($boombox-original);
  }
  20% {
    transform: scale($boombox-increase);
  }
  25% {
    transform: scale($boombox-original);
    rotate: 15deg;
  }
  30% {
    transform: scale($boombox-increase);
  }
  35% {
    transform: scale($boombox-original);
  }
  40% {
    transform: scale($boombox-increase);
  }
  45% {
    transform: scale($boombox-original);
  }
  50% {
    transform: scale($boombox-increase);
    rotate: -15deg;
  }
  55% {
    transform: scale($boombox-original);
  }
  60% {
    transform: scale($boombox-increase);
  }
  65% {
    transform: scale($boombox-original);
  }
  70% {
    transform: scale($boombox-increase);
  }
  75% {
    transform: scale($boombox-original);
    rotate: 15deg;
  }
  80% {
    transform: scale($boombox-increase);
  }
  85% {
    transform: scale($boombox-original);
  }
  90% {
    transform: scale($boombox-increase);
  }
  95% {
    transform: scale($boombox-original);
  }
  100% {
    transform: scale($boombox-increase);
    rotate: -15deg;
  }
}

/* @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}  */


/***************** Mobile Images ****************/
.explanation,
.participation,
.sidebar,
.benefits {
  position: relative;
}

h2::before {
  content: url(images/boombox-dark.svg);
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 100;
  width: 100px;
  padding-left: 2rem;
  animation-name: boombox;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* filter: drop-shadow(7px 15px 7px $dShadow); */
}

.resources::after {
  content: url(images/speaker-187.svg); /* subwoofer */
  // transform: scale(.5);
  position: absolute;
  height: 250px;
  width: 250px;
  bottom: -35px;
  right: -30px;
}

/* .participation::after {
  content: url(images/speaker-186.svg);
  position: absolute;
  width: 250px;
  top: 10px;
  right: 200px;
} */

.benefits::before {
  content: url(images/boombox-light.svg);
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 100;
  bottom: -10px;
  right: 40px;
}

.resource::after {
  content: url(images/speaker-dark.svg); /* speaker dark */
  height: 150px;
  width: 150px;
  position: absolute;
  right: 200px;
  top: 10px;
}



.benefits {
  padding-bottom: 275px;
}


/************* View Sizes **************/
/***************************************/

@media only screen and (min-width: $breakpoint-phone) {
  body {
    font-size: $font-lrg;
  }
  .page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }


  .benefits {
    padding-bottom: 0;
  }

  body::before {
    content: url(images/ZG-back2.svg);
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    height: auto;
    max-width: 1000px;
  }

  /******  Header & Intro ******/

  .intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: $accent2;
  }

  header {
    grid-column: 1 / span 9;
    font-size: 25px;
  }

  .summary {
    grid-column: 1 / -1;
  }

  .preamble {
    background-color: $grey;
    grid-column: 1 / -1;
  }

  /*  Organize paragraphs in 2 columns by using nth child
    to place into grid columns???? */

  /****** MAIN *******/

  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: $background-color;
  }

  .explanation {
    grid-column: 1 / span 6;
    grid-row: 1;
    background-color: $background-color;
    margin: $t-margin1 $font-margin;
  }

  .participation {
    grid-column: 7 / span 6;
    grid-row: 2;
    background-color: $background-color;
    margin: $t-margin1 $font-margin;
  }

  .benefits {
    grid-column: 1 / span 6;
    grid-row: 4;
    background-color: $background-color;
    margin: $t-margin1 $font-margin;
  }

  .requirements {
    grid-column: 1 / span 12;
    /* arrange in 2 columns by <p> nth child */
  }

  footer {
    grid-column: 1 / span 12;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 20px;
    background-color: $accent2;
  }

  .design-selection {
    grid-column: 1/6;
    grid-row: 1;
  }

  .zen-resources {
    grid-column: 8/-1;
    grid-row: 1;
  }

  .design-archives {
    grid-column: 1/-1;
    grid-row: 2;
  }



  /**********************************/
/****** INSERT IMAGES *************/


h2::before {
  display: none;
}

.explanation::before {
  display: none;
}

.participation::after {
  display: none;
}

.benefits::before {
  display: none;
}

.benefits::before {
  display: none;
}

.resources::after {
  display: none;
}

h2::after {
  content: url(images/boombox-dark.svg);
  position: absolute;
  top: -40px;
  right: -220px;
  z-index: 100;
  width: 250px;
  height: 250px;
  padding-left: 2rem;
  animation-name: boombox;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* filter: drop-shadow(7px 15px 7px $dShadow); */
}



.explanation::after {
  content: url(images/speaker-187.svg); /* subwoofer */
  // transform: scale(.5);
  position: absolute;
  width: 650px;
  top: 0;
  left: 400px;
}

.participation::before {
  /* Try to add a gradient that rotates to the speaker circles for glowing speaker effect */

  content: url(images/speaker-186.svg); /* speaker light */
  position: absolute;
  width: 650px;
  top: 10px;
  right: 400px;
}

.benefits::after {
  content: url(images/boombox-light.svg); /* boombox light */
  position: absolute;
  width: 350px;
  height: 350px;
  z-index: 100;
  bottom: -50px;
  left: 500px;
  /* filter: drop-shadow(10px 15px 40px $dShadow); */
}

/* .sidebar::before {
  content: url(images/speaker-dark.svg); /* speaker dark
  height: 350px;
  width: 350px;
  position: absolute;
  left: 650px;
  top: 75px;
} */

}
